<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuración</title>
</head>
<body>
    <h1>Configuración</h1>
    <form action="/update" method="POST">
        <label for="info">Probability Config</label>
        <br><br>
        <label for="LS">LS:</label>
        <input type="text" id="LS" name="LS" value="{{ config.LS }}"><br><br>
        
        <label for="LI">LI:</label>
        <input type="text" id="LI" name="LI" value="{{ config.LI }}"><br><br>
        
        <label for="status">Local Redirect  Status:</label>

        <select id="status" name="status">
          <option value="on" {% if config.status == "on" %}selected{% endif %}>On</option>
          <option value="off" {% if config.status == "off" %}selected{% endif %}>Off</option>
        </select>
        <br><br>
        <label for="alias">Local Redirect Alias:</label>
        <input type="text" id="alias" name="alias" value="{{ config.alias }}"><br><br>
        
        <br><br>
        <label for="redirection_url" >Redirection External Url Status:</label>
        <select id="redirection_url" name="redirection_url">
          <option value="on" {% if config.redirection_url == "on" %}selected{% endif %}>On</option>
          <option value="off" {% if config.redirection_url == "off" %}selected{% endif %}>Off</option>
        </select>
        <br><br>

        <label for="redirect_dev_url">Url Externo de Redireccion:</label>
        <input type="text" id="redirect_dev_url" name="redirect_dev_url" value="{{ config.redirect_dev_url}}"><br><br>
        
        <input type="submit" value="Actualizar">
    </form>
</body>
</html>
